// {
  
// }

{
  "presets": [ "es2015", "stage-0" ]
}

// with options

// {
//   "plugins": ["@babel/plugin-transform-runtime"]
// }

  // {  
  //   "plugins": [["transform-remove-console", 
  //   { "exclude": ["error", "warn"] }]]
  // }
 
 
//   {
//     "presets": ["env", "react"]
// }

// {
//   "presets": [    [
//       "@babel/preset-env", {
//         "targets": {
//           "node": "current"
//         },
//       }
//     ], "@babel/preset-react"],
//   "plugins": [
//       "@babel/plugin-proposal-class-properties"
//   ]
// }
